<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoList</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <header>
        <div class="container header-menu-container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow menu nav-bar-menu-cst">
                <div class="container-fluid align-register-btns">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/logo_todo.svg" class="logo-image-top" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container content">
        <main role="main" class="">
            @RenderBody()
            <div id="reminders" aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
            </div>
        </main>
    </div>





    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function refresh() {
        $.ajax({
            url: "/api/ToDoItem/Remind",
            type: "GET",
            contentType: 'application/json',
            success: function (item) {
                var inReminderList = localStorage.getItem("items");
                if (!inReminderList) {
                    localStorage.setItem("items", JSON.stringify(item));
                }
                else {
                    if (item.length > 0) {
                        var obj = [];
                        obj = JSON.parse(inReminderList);
                        item.forEach(function (element) {
                            obj.push(element);
                            
                            $('#reminders').append(FillReminder(element));
                        })
                        localStorage.setItem("items", JSON.stringify(obj));
                    }

                }



            }
        });
        setTimeout(refresh, 5000);
    }
    setTimeout(refresh, 5000);

    var inReminderList = localStorage.getItem("items");
    var obj = [];
    obj = JSON.parse(inReminderList);
    obj.forEach(element => $('#reminders').append(FillReminder(element)));


    function FillReminder(item){
        return '<div class="toast div-reminder" style = "opacity:0.8" role="alert" aria-live="assertive" aria-atomic="true">' +
            '<div class="toast-body" >' +
            '<div class="d-flex justify-content-between" >' +
            '<div class="item">' + item.itemName + '</div>' +
            '<div><button id="' + item.itemId + '" type="button" class="ml-2 mb-1 close close-reminder-btn" data-dismiss="toast" aria-label="Close">' +
            '<span aria-hidden="true">&times;</span></button></div></div>' +
            '<div class="todolist-name"> <a href="/ToDo/Index?id=' + item.toDoListId  + '"' + 'class="link-success">' + item.listName + '</a></div></div>' +
            '</div>'
    }
</script>                                                    
